<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Enterprise Login</title>
  <link rel="stylesheet" href="style.css">
 
</head>

<body>
  <div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Password Change</h1>
    <form>
      <div class="input-container">
        <input type="text" id="fp.user.name" required="required"/>
        <label for="fp.user.name">Username</label>
        <div class="bar"></div>
      </div>
	  <div class="input-container">
        <input type="text" id="fp.dob" required="required"/>
        <label for="fp.dob">Date of Birth</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="fp.user.password" required="required"/>
        <label for="fp.user.password">Password</label>
        <div class="bar"></div>
      </div>
	   <div class="input-container">
        <input type="password" id="fp.user.password.repeat" required="required"/>
        <label for="fp.user.password.repeat">Confirm Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Done</span></button>
      </div>
      </form>
  </div>
 </body>
</html>
