<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SPASTECH Consulting & Services</title>
    <style>
	/* The side navigation menu */
	.sidenav {
    height: 100%; /* 100% Full-height */
    width: 10%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: LightSteelBlue 	; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 60px from the top */
   
}

/* The navigation menu links */
.sidenav a {
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}
	</style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="stylehomepage.css" rel="stylesheet">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
$("#btn_creation").click(function() { $("#inline").show(); };

	</script>
  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		    	<div class="row">
				<nav class="navbar navbar-inverse navbar-fixed-top" style="min-height:70px;" >
				<div class="navbar-header">
				<button class="btn btn-info" style="border-radius: 0px; width:94%;height:75px"><a style="color:#337ab7" class="navbar-brand" href="#">PRODUCT</a></button>
				
				</div>
				<ul class="nav navbar-nav">
				<li><a href="#">HOME</a></li>
				<li><a href="#">PAGE1</a></li>
				<li><a href="#">PAGE2</a></li>
				<li><a href="#">PAGE3</a></li>
				<li><a href="#">HELP</a></li>
				<li ><a href="#"><span class="glyphicon glyphicon-user blue" style="color:black;font-size: 20px" data-toggle="tooltip" title="User"></span></a>
				</li>
				<li>
				<a href="#">
				<span class="glyphicon glyphicon-log-out blue" style="color:black;font-size: 20px" data-toggle="tooltip" title="Log Out" >
				</span>
				</a>
				</li>
				</ul>
				</section
				</nav>
                </div>
				</div>
				</div>
				
				<div id="mySidenav" class="sidenav">
				<div class="btn-group-vertical">
  	            <a href="#"><button id="btn_creation" data-toggle="collapse" data-target="#demo" style="border-radius: 0px; width:120%;height:100px" type="button" class="btn btn-primary">Creation</button></a>
  	            <a href="#"><button style="border-radius: 0px; width:120%;height:100px" type="button" class="btn btn-primary">Information</button></a>
  	            <a href="#"><button style="border-radius: 0px; width:120%;height:100px" type="button" class="btn btn-primary">Update</button></a>
	            <a href="#"><button style="border-radius: 0px; width:120%;height:100px" type="button" class="btn btn-primary">Reports</button></a>
	            <a href="#"><button style="border-radius: 0px; width:120%;height:100px" type="button" class="btn btn-primary"></button></a>
				<a href="#"><button style="border-radius: 0px; width:120%;height:100px" type="button" class="btn btn-primary"></button></a>
</div>
				
</div>
			<div class="row">
				<div class="col-md-12" style="height: 100px;background-color:white"> 
			<h3 align="center" style="background-color:white">

			</h3>
				</div>
				</div>
			<div class="row" >
				<div align="center"><form id="demo" class="collapse"><!--form content here-->
				 <table>
        <tr>
         <td>Name :</td> <td><input type="text" name="name"></td><br>
        </tr>
        <tr>
         <td>Email :</td> <td><input type="text" name="email"></td><br>
        </tr>
        <tr>
         <td>Password :</td> <td><input type="password" name="pwd"></td><br>
        </tr>
        <tr>
         <td>Confirm Password :</td> <td><input type="password" name="cpwd"><br>
        </tr>
        <tr>
         <td><input type="submit" value="Submit"></td>
        </tr>
       </table>
				</form>
				</div>
                
				</div>                   
				
				
				
				<div class="row">
				<div class="col-md-12" style="height: 100px;background-color:white"> 
			<h3 align="center" style="background-color:white">

			</h3>
				</div>
				</div>
					<div class="row">
				 
				</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom"    >
		  <div>
		  <h1></h1>
		  </div>
		  <div style="text-align:center">
		  <p style="color:black" class="active">COPYRIGHT  @SPASTECH </p>
		  </div>
		 </nav>
	</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>