<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SPASTECH</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="stylehomepage.css" rel="stylesheet">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		    	<div class="row">
				<div class="col-md-12" style="height: 100px;background-color:#f5a732"> 
				<table>
				<tr>
				<h1></h1>
				</tr>
				<tr>
				<td class="col-md-12" align="center" data-toggle="tooltip" title="Enterprise Applications">
			<h3 >
				ENTERPRISE APPLICATIONS
			</h3>
			</td>
			<td class="col-md-2">
			<a href="#">
          <span class="glyphicon glyphicon-user" style="color:black;font-size: 50px" data-toggle="tooltip" title="User"></span>
        </a>
		</td>
		<td>
		<a href="#" class="col-md-2">
          <span class="glyphicon glyphicon-log-out" style="color:black;font-size: 50px" data-toggle="tooltip" title="Log Out" ></span>
        </a>
		</td></tr></table>
				</div>
				</div>
			<div class="row">
				<div class="col-md-12" style="height: 100px;background-color:white"> 
			<h3 align="center" style="background-color:white">

			</h3>
				</div>
				</div>
			<div class="row">
				<div class="col-md-2" data-toggle="tooltip" title="Product Management">
				<table class="table table-bordered">				
					<tr >
					<td align="center" >
					<a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Product Management">Product</a><img alt="product_logo preview" src="Product_logo.png" height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Product Management">
					</td>
					</tr>
				</table>
				</div>
				<div class="col-md-2" data-toggle="tooltip" title="Inventory Management">
				<table class="table table-bordered">
				<tr>
				<td align="center">
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Inventory Management">Inventory</a><img alt="inventory_logo preview" src="Inventory_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Inventory Management">
				</td>
				</tr>
				</table>
				</div>
				<div class="col-md-2" data-toggle="tooltip" title="Shipment Management">
				<table class="table table-bordered">				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Shipment Management">Shipment</a><img alt="user_logo preview" src="Shipment_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Shipment Management">
					</td>
					</tr>
				</table>
				</div>
				
				<div class="col-md-2" data-toggle="tooltip" title="User Management">
				<table class="table table-bordered">				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="User Management">User</a><img alt="user_logo preview" src="User_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="User Management">
					</td>
					</tr>
					</table>
				</div>
				
				<div class="col-md-2" data-toggle="tooltip" title="Order Management">
				<table class="table table-bordered">				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Order Management">Order</a><img alt="order_logo preview" src="Order_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Order Management">
					</td>
					</tr>
					</table>
				</div>
				
				<div class="col-md-2" data-toggle="tooltip" title="Accounts Management">
				<table class="table table-bordered">				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Accounts Management">Accounting</a><img alt="accounts_logo preview" src="Accounts_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Accounts Management">
					</td>
					</tr>
					</table>
				</div>
				
				<div class="col-md-2" data-toggle="tooltip" title="Human Resources" style="border-color:#f5a732">
				<table class="table table-bordered" >				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Accounts Management">Human Resources</a><img alt="accounts_logo preview" src="HR_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Human Resources">
					</td>
					</tr>
					</table>
				</div>
				
				<div class="col-md-2" data-toggle="tooltip" title="Customer Relationship Management">
				<table class="table table-bordered">				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Accounts Management">CRM</a><img alt="accounts_logo preview" src="CRM_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Customer Relationship Management">
					</td>
					</tr>
					</table>
				</div>
		        
				<div class="col-md-2" data-toggle="tooltip" title="Tutorials">
				<table class="table table-bordered">				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Accounts Management">Tutorials</a><img alt="accounts_logo preview" src="Tutorials_Logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Tutorials">
					</td>
					</tr>
					</table>
				</div>
				
				<div class="col-md-2" data-toggle="tooltip" title="Quality">
				<table class="table table-bordered">				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Quality Management">Quality</a><img alt="accounts_logo preview" src="Quality_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Quality">
					</td>
					</tr>
					</table>
				</div>
							
				<div class="col-md-2" data-toggle="tooltip" title="Production Management">
				<table class="table table-bordered">				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Production Management">Production</a><img alt="accounts_logo preview" src="Production_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Production Management">
					</td>
					</tr>
					</table>
				</div>
				
				<div class="col-md-2" data-toggle="tooltip" title="Manufacturing">
				<table class="table table-bordered">				
					<tr>
					<td align="center" >
					 <a href="#" class="btn btn-link btn-block" type="button" data-toggle="tooltip" title="Manufacturing Management">Manufacturing</a><img alt="accounts_logo preview" src="Manufacturing_logo.png"  height="80" width="100" class="img-circle" align="middle" data-toggle="tooltip" title="Manufacturing">
					</td>
					</tr>
					</table>
				</div>
				
				
				
				
				
				</div>
				
				
				<div class="row">
				<div class="col-md-12" style="height: 100px;background-color:white"> 
			<h3 align="center" style="background-color:white">

			</h3>
				</div>
				</div>
					<div class="row">
				<div class="col-md-12" style="height: 100px;background-color:#f5a732"> 
			<h3 align="center" style="background-color:#f5a732">
			</h3>
				</div>
				</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>